<h1>ユーザーログイン</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>新規ユーザー作成: <%= link_to "登録", signup_path, class: "btn btn-secondary" %></p>
  </div>
</div>