<div class="container">
  <div class="delete-btn">
  <%= link_to '全て削除', { controller: 'tasks', action: 'destroy_all'},
                         { method: :delete, data: { confirm: '本当に全て削除しますか?' },
                           class: 'btn btn-danger'} %>
  </div>

  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ToDo名<%= sortable "title"," ▼ ▲ " %></th>
        <th>分類  <%= sortable "category"," ▼ ▲ " %></th>
        <th>期限  <%= sortable "deadline"," ▼ ▲ " %></th>
        <th>作成日<%= sortable "created_at", " ▼ ▲ " %></th>
        <th>更新日<%= sortable "updated_at", " ▼ ▲ " %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% if current_user.tasks.any? %>
      <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to "#{task.title}", task_path(task) %></td>
        <td><%= task.category %></td>
        <td><%= l task.deadline,   format: :date if task.deadline.present? %></td>
        <td><%= l task.created_at, format: :date %></td>
        <td><%= l task.updated_at, format: :date %></td>
        <td><%= link_to content_tag(:i, nil, class: "far fa-edit fa-lg"),
                edit_task_path(task) %></td>
        <td><%= link_to content_tag(:i, nil, class: "far fa-trash-alt fa-lg"),
                task_path(task), method: :delete, data: { confirm: '削除しますか？'} %>
              </td>
      </tr>
      <% end %>
    <% end %>
    </tbody>    
  </table>
</div>